:root {
    --main-theme: #050507;
    --project-details: #12053f;
    --text-main: #ffffff;
 
    --details: #2600ff2f;
    --hover-text: #515dff;

    --main-color: #0011ff;
    --blur: #4400ff;

    --gradient: #05010c;

    --contact-bc:#231157;

    --background-part: #1e2168;

    --contact-border:#1c0e46;
    --contact-border-list:#351a81;
} 