@import "../../style/variables.css";
 
 
.main-title{
    margin-top: 20px;
    color: var(--text-main);
    text-align: center;
    letter-spacing: 8px;
    font-size: 90px;
}

.main-bio{
    color: var(--text-main);
    font-size: 25px;
    letter-spacing: 3px;
    width: 60%;
    text-align: center; 
}
 
.cube-div{
    max-width: 99vw;
}

.cube {
    position: absolute;
    top: 80vh;
    left: 85vw;
    width: 10px;
    height: 10px;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    animation: cube 7s ease-in forwards infinite;
    border: 1px solid var(--details);
} 

.cube:nth-child(2) {
    animation-delay: 2s;
    left: 25vw;
    top: 40vh;    
}

.cube:nth-child(3) {
    animation-delay: 4s;
    left: 75vw;
    top: 50vh;
}
 
.cube:nth-child(4) {
    animation-delay: 6s;
    left: 80vw;
    top: 20vh;
}
 
.cube:nth-child(5) {
    animation-delay: 8s;
    left: 10vw;
    top: 85vh;
}

.cube:nth-child(6) {
    animation-delay: 10s;
    left: 50vw;
    top: 10vh;
}  

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);   
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%); 
        opacity: 0;
    }
}

main{
    display: flex;
    padding: 1%;
    flex-wrap: wrap;  
    gap: 10%;
    margin: 3% auto;
    width: 80%;
}

.project--link-ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project--link-li{
    list-style:decimal-leading-zero;
    color: var(--text-main);
    min-height: 60px;
}

.project--link{
    position: relative;
    font-size: 25px;
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.1s linear; 
}
 
.project--description{
    display: block;
    opacity: 0;
}

.project--link:hover{
    color: var(--hover-text); 
}

.project--link:hover + .project--description{
    opacity: 1;
}
   
.footer--link-ul{
    display: flex;
    justify-content: space-evenly;
    margin: 10% auto;
}

.footer--link-li{
    list-style: none;
    color: var(--text-main);
}

.footer--link{
    font-size: 25px;
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.1s linear; 
}
 
.footer--link:hover{
    color: var(--hover-text); 
}

#Contact {
    color: var(--hover-text); 
    font-weight: 900;
}


@media (max-width: 768px) {
    .cube {
        display: none;
    } 
    main{
        display: block;
    }
}

@media (max-width: 1400px) {
    .main-bio{
        margin: 0 auto;
        text-align: center;
    }

    .project--link-ul{
        margin: 10% auto;
        text-align: center;
    }
    
    .project--link-li{
        list-style: none;
        color: var(--text-main);
        min-height: 60px;
    }
    
    .project--link{
        position: relative;
        font-size: 25px;
        color: var(--text-main);
        text-decoration: none;
        transition: color 0.1s linear; 
    }
     
    .project--description{
        display: block;
        opacity: 0;
    }

}