@import "../../style/variables.css";

.main-title {
    margin-top: 20px;
    color: var(--text-main);
    text-align: center;
    letter-spacing: 8px;
    font-size: 90px;
}

.main-bio {
    color: var(--text-main);
    font-size: 25px;
    letter-spacing: 3px;
    width: 60%;
    text-align: center;
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

main {
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
    gap: 10%;
    margin: 3% auto;
    width: 80%;
}

.project--link-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project--link-li {
    list-style: decimal-leading-zero;
    color: var(--text-main);
    min-height: 60px;
}

.project--link {
    position: relative;
    font-size: 25px;
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.1s linear;
}

.project--description {
    display: block;
    opacity: 0;
}

.project--link:hover {
    color: var(--hover-text);
}

.project--link:hover + .project--description {
    opacity: 1;
}

.footer--link-ul {
    display: flex;
    justify-content: space-evenly;
    margin: 10% auto;
}

.footer--link-li {
    list-style: none;
    color: var(--text-main);
}

.footer--link {
    font-size: 25px;
    color: var(--text-main);
    text-decoration: none;
    transition: color 0.1s linear;
}

.download-button {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-main);
    text-decoration: none;
}

.footer--link:hover {
    color: var(--hover-text);
}

#Contact {
    color: var(--hover-text);
    font-weight: 900;
}

@media (max-width: 768px) {
    .main-title {
        font-size: 50px;
    }
    body {
        padding-top: 60px;
    }
    .cube {
        display: none;
    }
    main {
        display: block;
    }
    .main-bio {
        width: 90%;
    }
    .footer--link-ul {
        flex-wrap: wrap;
    }
    .footer--link-li {
        margin-bottom: 3%;
    }
}

@media (max-width: 1400px) {
    .main-bio {
        margin: 0 auto 10% auto;
        text-align: center;
    }

    .project--link-ul {
        margin: 0 auto;
        text-align: center;
    }

    .project--link-li {
        list-style: none;
        color: var(--text-main);
        min-height: 60px;
    }

    .project--link {
        position: relative;
        font-size: 25px;
        color: var(--text-main);
        text-decoration: none;
        transition: color 0.1s linear;
    }

    .project--description {
        display: block;
        opacity: 0;
    }
}