@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
@import "../../style/variables.css";
 
section {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-size: 2em;
	text-transform: uppercase;
}

.text-shadow { 
    font-size: 70px;
	text-transform: uppercase;
	-webkit-text-stroke:  var(--blur);
	-webkit-text-stroke-width: 1px;
	text-shadow: 2px 2px 10px  var(--main-color);
	transition: all 0.5s ease-in-out;
	text-align: center;
	letter-spacing: 0.2em;
	animation: flicker 0.5s ease-in-out infinite alternate;
    text-decoration: none;
}
 

@keyframes flicker {
	0% {
		opacity: 0.5;
		text-shadow: 2px 2px 10px var(--main-color);
	}
	100% {
		opacity: 1;
		text-shadow: 2px 2px 20px var(--main-color);
	}
}

@media (max-width: 768px) {
	.text-shadow {
		font-size: 40px;
	}
}